In [1]:
import numpy as np
import pandas as pd
import cv2
import pytesseract
from glob import glob
import spacy
import re
import string

In [2]:
def cleanText(txt):
    punctuation = '!"#$%&\'()*+:;<=>?[\\]^`{|}~'  # 有些需要保留像是@和其他東西
    whitespace = string.whitespace
    tableWhitespace = str.maketrans('','',whitespace)
    tablePunctuation = str.maketrans('','',punctuation)
    text = str(txt)
    text = text.lower()
    removewhitespace = text.translate(tableWhitespace)
    removepunctuation = removewhitespace.translate(tablePunctuation)
    
    return str(removepunctuation)

### 載入 NER model

In [3]:
model_ner = spacy.load('./output/model-best/')

In [4]:
# 載入圖片
image = cv2.imread('./data/6.jpg')
# cv2.imshow('ofr_test', image)
# cv2.waitKey()
# cv2.destroyAllWindows()

# 用 pytesseract 提取數據
tessData = pytesseract.image_to_data(image)
# 轉換成表格並做清理
tessList = list(map(lambda x : x.split('\t'), tessData.split('\n')))
df = pd.DataFrame(tessList[1:], columns=tessList[0])
df.dropna(inplace=True)
df['text'] = df['text'].apply(cleanText)

# 將資料轉換成內容
df_clean = df.query("text != '' ")
content = " ".join([w for w in df_clean['text']])   # 將所有內容拼在一起再用空格隔開
# print(content)
# 放入模型預測
doc = model_ner(content)

In [5]:
from spacy import displacy

In [6]:
displacy.serve(doc, style='ent')

C:\Users\Tibame_T14\anaconda3\envs\docuscan\lib\site-packages\spacy\displacy\__init__.py:108: UserWarning: [W011] It looks like you're calling displacy.serve from within a Jupyter notebook or a similar environment. This likely means you're already running a local web server, so there's no need to make displaCy start another one. Instead, you should be able to replace displacy.serve with displacy.render to show the visualization.
  warnings.warn(Warnings.W011)

Using the 'ent' visualizer
Serving on http://0.0.0.0:5000 ...

Shutting down server on port 5000.

### 標記

In [7]:
docjson = doc.to_json()
docjson.keys()

dict_keys(['text', 'ents', 'tokens'])

In [8]:
doc_text = docjson['text']
doc_text

'cell 8099948528 te 8466045457 email lictsrikant@gmail.com life insurance corporation of india seosrika ntht@gmail .com thathineni srikanth insurance advisor agent code no. 0316164y life insurance corporation of india br. off. lic office, trimulgherry, sec’bad - 500 016. add. borabanda, hyderabad - 500 018. lictsrikant8099948528.blogspot.in, interviewsinhyderabad.blogspot.in facebook.com/lictsrikant8099948528, facebook.com/thathineni.srikanth.9 promote your business online pybo'

In [9]:
dataframe_tokens = pd.DataFrame(docjson['tokens'])
dataframe_tokens['tokens'] = dataframe_tokens[['start', 'end']].apply(lambda x:doc_text[x[0]:x[1]], axis=1)
dataframe_tokens.head()

C:\Users\Tibame_T14\AppData\Local\Temp\ipykernel_20040\1542532093.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dataframe_tokens['tokens'] = dataframe_tokens[['start', 'end']].apply(lambda x:doc_text[x[0]:x[1]], axis=1)

   id  start  end      tokens
0   0      0    4        cell
1   1      5   15  8099948528
2   2     16   18          te
3   3     19   29  8466045457
4   4     30   35       email

In [10]:
doc_text[19:29]

'8466045457'

In [11]:
right_table = pd.DataFrame(docjson['ents'])[['start', 'label']]
datafram_tokens = pd.merge(dataframe_tokens, right_table, how='left', on='start')

In [12]:
datafram_tokens.fillna('O', inplace=True)
datafram_tokens.head()

   id  start  end      tokens    label
0   0      0    4        cell        O
1   1      5   15  8099948528  B-PHONE
2   2     16   18          te        O
3   3     19   29  8466045457  B-PHONE
4   4     30   35       email        O

#### 跟 df_clean join 起來

In [13]:
# 先建立 end 的位置
df_clean['end'] = df_clean['text'].apply(lambda x : len(x)+1).cumsum() -1   # 詞之間會有一個空格 , 所以 +1
# 建立 start 的位置
df_clean['start'] = df_clean[['text', 'end']].apply(lambda x : x[1] - len(x[0]), axis=1)

C:\Users\Tibame_T14\AppData\Local\Temp\ipykernel_20040\1766648432.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['end'] = df_clean['text'].apply(lambda x : len(x)+1).cumsum() -1   # 詞之間會有一個空格 , 所以 +1
C:\Users\Tibame_T14\AppData\Local\Temp\ipykernel_20040\1766648432.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_clean['start'] = df_clean[['text', 'end']].apply(lambda x : x[1] - len(x[0]), axis=1)
C:\Users\Tibame_T14\AppData\Local\Temp\ipykernel_20040\1766648432.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['start'] = df_clean[['text', 'end']].apply(lambda x : x[1] - len(x[0]), axis=1)

In [14]:
df_clean.head()

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start
12,5,1,3,1,1,1,722,53,64,28,90,cell,4,0
14,5,1,3,1,1,3,822,53,203,28,96,8099948528,15,5
17,5,1,3,2,1,1,55,55,85,89,30,te,18,16
18,5,1,3,2,1,2,822,71,203,65,96,8466045457,29,19
20,5,1,3,2,2,1,593,136,93,25,89,email,35,30

In [15]:
# inner join start
dataframe_info = pd.merge(df_clean, datafram_tokens[['start', 'tokens', 'label']], how='inner', on='start')

In [16]:
dataframe_info.head()

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,tokens,label
0,5,1,3,1,1,1,722,53,64,28,90,cell,4,0,cell,O
1,5,1,3,1,1,3,822,53,203,28,96,8099948528,15,5,8099948528,B-PHONE
2,5,1,3,2,1,1,55,55,85,89,30,te,18,16,te,O
3,5,1,3,2,1,2,822,71,203,65,96,8466045457,29,19,8466045457,B-PHONE
4,5,1,3,2,2,1,593,136,93,25,89,email,35,30,email,O

In [17]:
dataframe_info.tail()

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,tokens,label
46,5,1,6,3,4,1,46,571,106,21,96,promote,455,448,promote,O
47,5,1,6,3,4,2,161,576,56,22,96,your,460,456,your,O
48,5,1,6,3,4,3,226,571,111,21,96,business,469,461,business,O
49,5,1,6,3,4,4,347,571,74,21,92,online,476,470,online,O
50,5,1,6,3,4,5,432,571,96,27,92,pybo,481,477,pybo,O

### 邊界框

In [18]:
bb_df = dataframe_info.query("label != 'O' ")
img = image.copy()

for x, y, w, h, label in bb_df[['left', 'top', 'width', 'height', 'label']].values :
    x = int(x)
    y  = int(y )
    h = int(h)
    w = int(w)

    cv2.rectangle(img, (x, y), (x+w, y+h), (0,255,0), 2)
    cv2.putText(img, str(label), (x, y), cv2.FONT_HERSHEY_PLAIN, 1, (255,0,0), 2)

cv2.imshow('Predictions', img)
cv2.waitKey()
cv2.destroyAllWindows()

### 將個別被拆開的實體變成一個完整的實體

In [22]:
# 先將 label 前面的分類移除
bb_df['label'] = bb_df['label'].apply(lambda x : x[2:])
bb_df

C:\Users\Tibame_T14\AppData\Local\Temp\ipykernel_20040\1091442162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['label'] = bb_df['label'].apply(lambda x : x[2:])

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,tokens,label
1,5,1,3,1,1,3,822,53,203,28,96,8099948528,15,5,8099948528,PHONE
3,5,1,3,2,1,2,822,71,203,65,96,8466045457,29,19,8466045457,PHONE
5,5,1,3,2,2,3,709,136,316,31,88,lictsrikant@gmail.com,57,36,lictsrikant@gmail.com,EMAIL
6,5,1,3,3,1,1,46,170,33,14,96,life,62,58,life,ORG
7,5,1,3,3,1,2,85,151,91,42,94,insurance,72,63,insurance,ORG
8,5,1,3,3,1,3,183,170,117,14,96,corporation,84,73,corporation,ORG
9,5,1,3,3,1,4,306,170,20,14,96,of,87,85,of,ORG
10,5,1,3,3,1,5,332,170,42,14,96,india,93,88,india,ORG
11,5,1,3,3,1,6,668,166,119,37,92,seosrika,102,94,seosrika,EMAIL
12,5,1,3,3,1,7,791,165,162,44,91,ntht@gmail,113,103,ntht@gmail,EMAIL
13,5,1,3,3,1,8,958,180,66,19,69,.com,118,114,.com,EMAIL
14,5,1,4,1,1,1,310,228,232,30,92,thathineni,129,119,thathineni,NAME
15,5,1,4,1,1,2,557,227,198,32,96,srikanth,138,130,srikanth,NAME
16,5,1,5,1,1,1,399,271,147,25,96,insurance,148,139,insurance,DES
17,5,1,5,1,1,2,555,271,114,25,96,advisor,156,149,advisor,DES
22,5,1,6,1,1,1,47,396,83,30,96,life,185,181,life,ORG
23,5,1,6,1,1,2,145,395,236,32,96,insurance,195,186,insurance,ORG
24,5,1,6,1,1,3,395,395,296,32,96,corporation,207,196,corporation,ORG
25,5,1,6,1,1,4,706,395,53,32,94,of,210,208,of,ORG
26,5,1,6,1,1,5,775,396,107,30,94,india,216,211,india,ORG
43,5,1,6,3,2,2,488,506,429,27,86,interviewsinhyderabad.blogspot.in,376,343,interviewsinhyderabad.blogspot.in,WEB

In [28]:
# 分組標籤
class groupgen():
    def __init__(self):
        self.id = 0
        self.text = ''

    def getgroup(self, text):          # 舉例對照 PHONE 是不是等於 PHONE , 是的話就是歸類在同一類
        if self.text == text :
            return self.id
        else :
            self.id += 1
            self.text = text
            return self.id

grp_gen = groupgen()

In [29]:
bb_df['group'] = bb_df['label'].apply(grp_gen.getgroup)

C:\Users\Tibame_T14\AppData\Local\Temp\ipykernel_20040\472836701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['group'] = bb_df['label'].apply(grp_gen.getgroup)

In [30]:
bb_df    # 這邊就可以看到group欄位被歸類在同一個欄位

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,tokens,label,group
1,5,1,3,1,1,3,822,53,203,28,96,8099948528,15,5,8099948528,PHONE,1
3,5,1,3,2,1,2,822,71,203,65,96,8466045457,29,19,8466045457,PHONE,1
5,5,1,3,2,2,3,709,136,316,31,88,lictsrikant@gmail.com,57,36,lictsrikant@gmail.com,EMAIL,2
6,5,1,3,3,1,1,46,170,33,14,96,life,62,58,life,ORG,3
7,5,1,3,3,1,2,85,151,91,42,94,insurance,72,63,insurance,ORG,3
8,5,1,3,3,1,3,183,170,117,14,96,corporation,84,73,corporation,ORG,3
9,5,1,3,3,1,4,306,170,20,14,96,of,87,85,of,ORG,3
10,5,1,3,3,1,5,332,170,42,14,96,india,93,88,india,ORG,3
11,5,1,3,3,1,6,668,166,119,37,92,seosrika,102,94,seosrika,EMAIL,4
12,5,1,3,3,1,7,791,165,162,44,91,ntht@gmail,113,103,ntht@gmail,EMAIL,4
13,5,1,3,3,1,8,958,180,66,19,69,.com,118,114,.com,EMAIL,4
14,5,1,4,1,1,1,310,228,232,30,92,thathineni,129,119,thathineni,NAME,5
15,5,1,4,1,1,2,557,227,198,32,96,srikanth,138,130,srikanth,NAME,5
16,5,1,5,1,1,1,399,271,147,25,96,insurance,148,139,insurance,DES,6
17,5,1,5,1,1,2,555,271,114,25,96,advisor,156,149,advisor,DES,6
22,5,1,6,1,1,1,47,396,83,30,96,life,185,181,life,ORG,7
23,5,1,6,1,1,2,145,395,236,32,96,insurance,195,186,insurance,ORG,7
24,5,1,6,1,1,3,395,395,296,32,96,corporation,207,196,corporation,ORG,7
25,5,1,6,1,1,4,706,395,53,32,94,of,210,208,of,ORG,7
26,5,1,6,1,1,5,775,396,107,30,94,india,216,211,india,ORG,7
43,5,1,6,3,2,2,488,506,429,27,86,interviewsinhyderabad.blogspot.in,376,343,interviewsinhyderabad.blogspot.in,WEB,8

### 重新再框一次 Bounding Box

In [34]:
bb_df[['left', 'top', 'width', 'height']] = bb_df[['left', 'top', 'width', 'height']].astype(int)
bb_df['right'] = bb_df['left'] + bb_df['width']
bb_df['bottom'] = bb_df['top'] + bb_df['height']

C:\Users\Tibame_T14\AppData\Local\Temp\ipykernel_20040\2976923298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df[['left', 'top', 'width', 'height']] = bb_df[['left', 'top', 'width', 'height']].astype(int)
C:\Users\Tibame_T14\AppData\Local\Temp\ipykernel_20040\2976923298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['right'] = bb_df['left'] + bb_df['width']
C:\Users\Tibame_T14\AppData\Local\Temp\ipykernel_20040\2976923298.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['bottom'] = bb_df['top'] + bb_df['height']

In [35]:
bb_df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,tokens,label,group,right,buttom,bottom
1,5,1,3,1,1,3,822,53,203,28,96,8099948528,15,5,8099948528,PHONE,1,1025,81,81
3,5,1,3,2,1,2,822,71,203,65,96,8466045457,29,19,8466045457,PHONE,1,1025,136,136
5,5,1,3,2,2,3,709,136,316,31,88,lictsrikant@gmail.com,57,36,lictsrikant@gmail.com,EMAIL,2,1025,167,167
6,5,1,3,3,1,1,46,170,33,14,96,life,62,58,life,ORG,3,79,184,184
7,5,1,3,3,1,2,85,151,91,42,94,insurance,72,63,insurance,ORG,3,176,193,193
8,5,1,3,3,1,3,183,170,117,14,96,corporation,84,73,corporation,ORG,3,300,184,184
9,5,1,3,3,1,4,306,170,20,14,96,of,87,85,of,ORG,3,326,184,184
10,5,1,3,3,1,5,332,170,42,14,96,india,93,88,india,ORG,3,374,184,184
11,5,1,3,3,1,6,668,166,119,37,92,seosrika,102,94,seosrika,EMAIL,4,787,203,203
12,5,1,3,3,1,7,791,165,162,44,91,ntht@gmail,113,103,ntht@gmail,EMAIL,4,953,209,209
13,5,1,3,3,1,8,958,180,66,19,69,.com,118,114,.com,EMAIL,4,1024,199,199
14,5,1,4,1,1,1,310,228,232,30,92,thathineni,129,119,thathineni,NAME,5,542,258,258
15,5,1,4,1,1,2,557,227,198,32,96,srikanth,138,130,srikanth,NAME,5,755,259,259
16,5,1,5,1,1,1,399,271,147,25,96,insurance,148,139,insurance,DES,6,546,296,296
17,5,1,5,1,1,2,555,271,114,25,96,advisor,156,149,advisor,DES,6,669,296,296
22,5,1,6,1,1,1,47,396,83,30,96,life,185,181,life,ORG,7,130,426,426
23,5,1,6,1,1,2,145,395,236,32,96,insurance,195,186,insurance,ORG,7,381,427,427
24,5,1,6,1,1,3,395,395,296,32,96,corporation,207,196,corporation,ORG,7,691,427,427
25,5,1,6,1,1,4,706,395,53,32,94,of,210,208,of,ORG,7,759,427,427
26,5,1,6,1,1,5,775,396,107,30,94,india,216,211,india,ORG,7,882,426,426
43,5,1,6,3,2,2,488,506,429,27,86,interviewsinhyderabad.blogspot.in,376,343,interviewsinhyderabad.blogspot.in,WEB,8,917,533,533

In [47]:
# tagging : groupby by group
col_group = ['left', 'top', 'right', 'bottom', 'label', 'tokens', 'group']
group_tag_img = bb_df[col_group].groupby(by='group')

In [48]:
img_tagging = group_tag_img.agg({
    'left' : min,
    'right' : max,
    'top' : min,
    'bottom' : max,
    'label' : np.unique,
    'tokens' : lambda x : " ".join(x),
})

C:\Users\Tibame_T14\AppData\Local\Temp\ipykernel_20040\778282990.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'min' instead.
  img_tagging = group_tag_img.agg({
C:\Users\Tibame_T14\AppData\Local\Temp\ipykernel_20040\778282990.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'max' instead.
  img_tagging = group_tag_img.agg({

In [49]:
img_tagging

       left  right  top  bottom    label                               tokens
group
1       822   1025   53     136  [PHONE]                8099948528 8466045457
2       709   1025  136     167  [EMAIL]                lictsrikant@gmail.com
3        46    374  151     193    [ORG]  life insurance corporation of india
4       668   1024  165     209  [EMAIL]             seosrika ntht@gmail .com
5       310    755  227     259   [NAME]                  thathineni srikanth
6       399    669  271     296    [DES]                    insurance advisor
7        47    882  395     427    [ORG]  life insurance corporation of india
8       488    917  506     533    [WEB]    interviewsinhyderabad.blogspot.in

In [56]:
# 開始繪製邊框
img_bb = image.copy()
for l,r,t,b,label,tokens in img_tagging.values:
    cv2.rectangle(img_bb,(l,t),(r,b),(0,255,0),2)
    
    cv2.putText(img_bb,str(label),(l,t),cv2.FONT_HERSHEY_PLAIN,1,(255,0,255),2)
    
    
cv2.imshow('Bounding Box BusinessCard',img_bb)
cv2.waitKey(0)
cv2.destroyAllWindows()

### 解析

In [64]:
def parser(text,label) :
    if label  == 'PHONE':
        text = text.lower()
        text = re.sub(r'\D', '', text)

    elif label == "EMAIL":
        text = text.lower()
        allow_spcial_chart = '@_.\-'
        text = re.sub(r'[^A-Za-z0-9{} ]'.format(allow_spcial_chart), '', text)

    elif label == 'WEB':
        text = text.lower()
        allow_spcial_chart = ':/%#\-'
        text = re.sub(r'[^A-Za-z0-9{} ]'.format(allow_spcial_chart), '', text)

    elif label in ('NAME', 'DES'):
        text = text.lower()
        text = re.sub(r'[^a-z ]', '', text)
        text = text.title()

    elif label == 'ORG' :
        text = text.lower()
        text = re.sub(r'[^a-z0-9 ]', '', text)
        text = text.title()

    return text

### 測試

In [87]:
parser('Srkanth@gmail.c_om', 'EMAIL')

'srkanth@gmail.c_om'

### 實體

In [90]:
info_array = dataframe_info[['tokens', 'label']].values
entities = dict(NAME=[], ORG=[], DES=[], PHONE=[], EMAIL=[], WEB=[])

previous = 'O'

for tokens, label in info_array:
    # print(token, label)
    bio_tag = label[0:1]
    label_tag = label[2:]
    # print(bio_tag, label_tag)

    # 步驟一 , 傳遞tokens
    text = parser(tokens, label_tag)      # 傳遞 tokens 內容和經過處理的 label 標籤到 parser function


    if bio_tag in ('B', 'I') :
        if previous != label_tag :
            entities[label_tag].append(text)
        else :
            if bio_tag == "B" :
                entities[label_tag].append(text)
            else :
                if label_tag in ('NAME', 'DES', 'ORG') :
                    entities[label_tag][-1] = entities[label_tag][-1] + " " + text
                else :
                    entities[label_tag][-1] = entities[label_tag][-1] + text
        
    previous = label_tag

In [91]:
entities

{'NAME': ['Thathineni Srikanth'],
 'ORG': ['Life Insurance Corporation Of India',
  'Life Insurance Corporation Of India'],
 'DES': ['Insurance Advisor'],
 'PHONE': ['8099948528', '8466045457'],
 'EMAIL': ['lictsrikant@gmail.com', 'seosrikantht@gmail.com'],
 'WEB': ['interviewsinhyderabadblogspotin']}